.aktContainer {
  max-width: 1300px;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 12rem;
  .aktWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 2.25rem;
    }

    .aktLinks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0.5rem;

      .aktLink {
        width: 340px;
        margin-top: 2.75rem;
      }
    }
  }
}
