.container {
  max-width: 1400px;
  margin: auto;
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    padding: 1rem;

    .header {
      font-size: 2rem;
      margin-bottom: 4rem;

      @media screen and (max-width: 450px) {
        margin-bottom: 2rem;
      }
    }

    .contentWrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1.8rem;
      margin-bottom: 6rem;

      @media screen and (max-width: 450px) {
        flex-direction: column;
      }

      @media screen and (min-width: 451px) and (max-width: 768px) {
        flex-direction: column;
        padding: 1rem;
      }

      @media only screen and (min-width: 769px) and (max-width: 992px) {
        padding: 1rem;
      }

      .content {
        flex: 0.7 !important;

        @media screen and (max-width: 450px) {
          flex: 1;
        }

        h3 {
          font-size: 1.8rem;

          @media screen and (max-width: 450px) {
            font-size: 1.5rem;
            text-align: center;
          }
        }

        p {
          width: 90%;

          @media screen and (max-width: 450px) {
            width: 100%;
            margin-top: 2rem;
          }
        }
      }

      .contentImage {
        flex: 0.3 !important;
        width: 320px;
        height: 260px;

        @media screen and (max-width: 450px) {
          margin-top: 2rem;
        }

        .image1 {
          box-shadow: 12px 12px #04436f;
          -moz-box-shadow: 12px 12px #04436f;
          -webkit-box-shadow: 12px 12px #04436f;
          -khtml-box-shadow: 12px 12px #04436f;
        }
      }
    }
  }
}

.infoBtn {
  background-color: #fff;
  color: #000;
  font-size: 0.85rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid rgb(116, 116, 116);
  cursor: pointer;
  margin-top: 4rem;
}
