.frame {
  position: absolute;

  z-index: 1000;
  padding: 0rem 1rem 1rem 1rem;
  background-color: #04436f;

  margin-top: 8rem;
  max-width: 580px;

  .x {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    margin-top: 8px;
    cursor: pointer;
  }
}

.frameContainer {
  position: absolute;
  background-color: #04436f;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: 2.1rem;
  cursor: pointer;
  z-index: 999;

  &:hover {
    background-color: #085e9c;
  }
}
