.heroContainer {
  max-width: 1400px;
  height: 100vh;
  margin: auto;

  @media screen and (max-width: 450px) {
    height: 90vh !important;
  }

  @media only screen and (min-width: 769px) and (max-width: 992px) {
    height: 70vh;
  }

  @media only screen and (min-width: 993px) and (max-width: 1200px) {
    height: 75vh;
  }

  .heroWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @media screen and (min-width: 451px) and (max-width: 768px) {
      flex-direction: column;
    }

    .heroHeader {
      flex: 0.5;
      text-align: left;

      @media screen and (min-width: 451px) and (max-width: 768px) {
        flex: 1;
        padding: 4rem;
        text-align: center;
      }

      @media only screen and (min-width: 769px) and (max-width: 992px) {
        flex: 0.66;
      }

      @media only screen and (min-width: 993px) and (max-width: 1200px) {
        flex: 0.66;
      }

      h1 {
        width: 60%;
        margin: auto;
        font-size: 3.8rem;

        @media screen and (max-width: 450px) {
          width: 100%;
          text-align: center;
          font-size: 2.2rem;
        }

        @media screen and (min-width: 451px) and (max-width: 768px) {
          width: 100%;
          font-size: 2.75rem;
        }

        @media only screen and (min-width: 769px) and (max-width: 992px) {
          font-size: 2.5rem;
        }

        span {
          font-size: 2.75rem;

          @media screen and (max-width: 450px) {
            font-size: 2.2rem;
          }

          @media screen and (min-width: 451px) and (max-width: 768px) {
            font-size: 2.5rem;
          }
        }
      }

      p {
        margin: auto;
        width: 60%;
        margin-top: 1rem;
        font-size: 1.15rem;

        @media screen and (max-width: 450px) {
          width: 100%;
          text-align: center;
          font-size: 1rem;
        }

        @media screen and (min-width: 451px) and (max-width: 768px) {
          width: 100%;
          text-align: center;
        }
      }

      .heroBtns {
        width: 60%;
        margin: auto;
        margin-top: 2rem;
        display: flex;
        padding-top: 1rem;

        @media screen and (max-width: 450px) {
          width: 100%;
          text-align: center;
          font-size: 1rem;
        }

        @media screen and (min-width: 451px) and (max-width: 768px) {
          width: 100%;
          text-align: center;
          justify-content: center;
        }

        .btnL {
          padding: 0.75rem 2.75rem;
          color: #fff;
          background-color: #04436f;
          margin-right: 4rem;
          border: 0;
          font-weight: 500;
          font-size: 1rem;
          border: 1px solid #fff;
          transition: 0.3s all ease-in-out;

          @media screen and (max-width: 450px) {
            padding: 0.75rem 2.25rem;
            margin-right: 2rem;
          }
        }

        .btnL:hover {
          background-color: #fff;
          color: #04436f;
          border: 1px solid #04436f;
          cursor: pointer;
        }

        .btnC {
          padding: 0.75rem 2.95rem;
          color: #04436f;
          background-color: #fff;
          border: 1px solid #04436f;
          font-weight: 500;
          font-size: 1rem;
          transition: 0.3s all ease-in-out;

          @media screen and (max-width: 450px) {
            padding: 0.75rem 2.25rem;
          }
        }

        .btnC:hover {
          background-color: #04436f;
          color: #fff;
          border: 1px solid #fff;
          cursor: pointer;
        }
      }
    }
  }

  .heroImage {
    flex: 0.5;
    overflow: hidden;
    max-height: 700px !important;

    @media screen and (max-width: 450px) {
      display: none !important;
    }

    @media screen and (min-width: 451px) and (max-width: 768px) {
      height: 200px !important;
      max-width: 200px;
    }

    @media only screen and (min-width: 769px) and (max-width: 992px) {
      flex: 0.34;
    }
  }
}
