.infoContainer {
  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 12rem;
    padding: 2.5rem;

    .infoText {
      flex: 0.5;
      h3 {
        font-size: 1.85rem;
        color: #04436f;
      }

      p {
        width: 80%;
      }
    }

    .infoImage {
      flex: 0.5;
      box-shadow: 8px 8px 5px #ccc;
      -moz-box-shadow: 8px 8px 5px #ccc;
      -webkit-box-shadow: 8px 8px 5px #ccc;
      -khtml-box-shadow: 8px 8px 5px #ccc;
    }
  }
}
