.infoContainer {
  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 14rem;
    padding: 2.5rem;

    @media screen and (max-width: 450px) {
      margin-top: 4rem;
      padding: 1rem 2rem 1rem 2rem;

      flex-direction: column;
    }

    .infoText {
      flex: 0.5;

      h3 {
        font-size: 1.85rem;
        padding-left: 4rem;
        color: #04436f;

        @media screen and (max-width: 450px) {
          padding-left: 0;
          font-size: 1.5rem;
        }
      }

      p {
        width: 90%;
        padding-left: 4rem;

        @media screen and (max-width: 450px) {
          width: 100%;
          padding-left: 0;
        }
      }
    }

    .infoImage {
      flex: 0.5;
      box-shadow: 8px 8px 5px #ccc;
      -moz-box-shadow: 8px 8px 5px #ccc;
      -webkit-box-shadow: 8px 8px 5px #ccc;
      -khtml-box-shadow: 8px 8px 5px #ccc;
    }
  }
}
