.navContainer {
  border-bottom: 1px solid #bfbdbd;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;

    @media screen and (max-width: 450px) {
      margin-top: 0.5rem;
    }

    @media only screen and (min-width: 769px) and (max-width: 992px) {
      margin: 0 2rem 0 2rem;
    }

    @media only screen and (min-width: 993px) and (max-width: 1200px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .navLogo {
      width: 320px;
      cursor: pointer;

      @media screen and (max-width: 450px) {
        max-width: 220px;
        margin-left: 1rem;
      }

      @media screen and (min-width: 451px) and (max-width: 768px) {
        max-width: 280px;
        margin-left: 1rem;
      }
    }

    .navLinks {
      ul {
        display: flex;
        align-items: center;

        li {
          list-style-type: none;
          margin-right: 1.25rem;
          transition: 0.3s all ease-in-out;
        }

        li:hover {
          color: #04436f;
        }
      }

      @media screen and (max-width: 450px) {
        display: none;
      }

      @media screen and (min-width: 451px) and (max-width: 768px) {
        display: none;
      }
    }

    .navHamburger {
      display: none;
      font-size: 1.75rem;
      margin-right: 1rem;
      color: #04436f;
      position: relative;

      @media screen and (max-width: 450px) {
        display: block;
      }

      @media screen and (min-width: 451px) and (max-width: 768px) {
        display: block;
      }

      div {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        z-index: 101;
        padding: 1rem;
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background-color: #04436f !important;
        color: #fff;

        ul {
          list-style: none;

          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          li {
            margin: 1rem;

            a {
              color: #fff;
              text-decoration: none;
              font-size: 1.2rem;

              font-weight: 500;

              transition: all 0.36s ease-in-out;

              &:hover {
                color: yellow;
              }
            }
          }
        }
      }
    }
  }
}
