.container {
  max-width: 1200px;
  margin: auto;

  @media screen and (max-width: 450px) {
    max-width: 440px;
    padding: 0.75rem;
  }

  @media screen and (max-width: 1079px) and (min-width: 451px) {
    width: 100%;

    padding: 2rem 2rem 2rem 1rem;
  }
  .wrapper {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

    .header {
      text-align: center;

      h1 {
        font-size: 2.5rem;
      }

      h2 {
        margin: auto;
        margin-top: 4rem;
        width: 80%;
        text-align: center;
      }
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 450px) {
        flex-direction: column;
      }

      @media screen and (max-width: 1079px) and (min-width: 451px) {
        flex-direction: column;
      }

      .infoImg {
        width: 50%;

        @media screen and (max-width: 450px) {
          width: 100%;
          margin-top: 4rem;
        }

        @media screen and (max-width: 1079px) and (min-width: 451px) {
          width: 80%;
          margin-top: 4rem;
        }
      }

      .infoText {
        padding: 4rem;
        line-height: 1.75;
        padding-right: 2rem;

        @media screen and (max-width: 450px) {
          width: 100%;
          margin-top: 2rem;
          padding: 1rem;
        }

        @media screen and (max-width: 1079px) and (min-width: 451px) {
          width: 100%;
          margin-top: 4rem;
        }
      }
    }

    .infoHin {
      line-height: 1.5;
      padding: 0.75rem;

      h2 {
        margin-top: 3rem;
      }
    }
  }
}
