.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    width: 100%;

    @media screen and (max-width: 450px) {
      width: 100%;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 450px) {
        width: 100%;
      }
      h1 {
        font-size: 2.75rem;

        @media screen and (max-width: 450px) {
          font-size: 2rem;
          width: 100%;
        }
      }

      p {
        max-width: 75%;
        line-height: 1.75;

        @media screen and (max-width: 450px) {
          width: 100%;
          text-align: center;
        }

        @media screen and (min-width: 451px) and (max-width: 768px) {
          width: 100%;
          padding: 0.5rem;
          margin: auto;
        }

        @media only screen and (min-width: 769px) and (max-width: 992px) {
          width: 100%;
          text-align: center;
          padding: 0 4rem 0 4rem;
        }
      }
    }

    .teamTop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      grid-gap: 4rem;
      margin-top: 4rem;

      @media screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media screen and (min-width: 451px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media only screen and (min-width: 769px) and (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
      }

      .teamMemberTop {
        width: 280px;
        height: 600px;
        cursor: pointer;
        transition: 0.4s all ease-in-out;

        .teamMemberInfoTop {
          width: 100%;
          text-align: center;

          p {
            width: 100%;
          }

          .bold {
            font-weight: 700;
          }
        }

        .teamMemberInfoTop:last-child {
          margin-left: -2rem;
        }
      }

      .teamMemberTop:hover {
        transform: scale(1.05);
      }

      .teamMemberTop:last-child {
        @media screen and (max-width: 450px) {
          margin-left: 2.5rem;
        }
      }
    }

    .team {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-content: center;
      grid-gap: 4rem;
      margin-top: 2rem;

      @media screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media screen and (min-width: 451px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media only screen and (min-width: 769px) and (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
      }

      .teamMember {
        width: 300px;
        height: 600px;
        cursor: pointer;
        transition: 0.4s all ease-in-out;

        .teamMemberInfo {
          width: 100%;
          text-align: center;

          p {
            width: 100%;
          }

          .bold {
            font-weight: 700;
          }
        }
      }

      .teamMember:hover {
        transform: scale(1.05);
      }
    }
    .dogMember {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 8rem;

      @media screen and (max-width: 450px) {
        flex-direction: column;
      }

      @media screen and (min-width: 451px) and (max-width: 768px) {
        flex-direction: column;
        padding: 0.5rem;
      }

      @media only screen and (min-width: 769px) and (max-width: 992px) {
        padding-left: 2rem;
      }

      .dog {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        padding: 1rem;

        @media screen and (max-width: 450px) {
          margin-bottom: 6rem;
          flex-direction: column;
        }

        @media screen and (min-width: 451px) and (max-width: 768px) {
          margin-bottom: 6rem;
          flex-direction: column;
        }

        .dogToggle {
          margin-right: 6rem;
          @media screen and (max-width: 450px) {
            margin-right: 0;
          }

          .dogImage {
            width: 420px;
            max-height: 360px;
            border-radius: 20px;
            overflow: hidden;
            object-fit: cover;
            transition: 0.3s all ease-in-out;
            cursor: pointer;

            @media screen and (max-width: 450px) {
              width: 360px;
            }

            @media screen and (min-width: 451px) and (max-width: 768px) {
              width: 500px;
            }

            @media only screen and (min-width: 769px) and (max-width: 992px) {
              max-width: 360px;
              max-height: 280px;
            }
          }

          .dogImage:hover {
            transform: scale(1.065);
          }

          h4 {
            font-weight: 600;
            margin: 0;
          }
        }

        p {
          width: 90%;
          line-height: 1.65;

          @media screen and (max-width: 450px) {
            width: 100%;
          }

          @media screen and (min-width: 451px) and (max-width: 768px) {
            width: 100%;
          }

          @media only screen and (min-width: 769px) and (max-width: 992px) {
            width: 90%;
          }
        }
      }
    }
  }
}
